@tailwind base;

body {
    @apply ml-2;
}

.site-name {
    @apply text-2xl
}

.game-name {
    @apply text-xl
}

.choices {
    display: grid;
    grid-template-columns: 9rem 9rem;
    grid-column-gap: 1rem;
}

.choices__head {
    @apply my-2 font-bold text-center
}

.user-name {
    @apply text-lg my-2 font-bold
}

.user-name__input {
    @apply shadow border rounded w-full py-2 px-3 text-gray-700 w-64
}

.btn {
    @apply font-bold my-1 py-2 px-4 rounded-full border-2 border-solid w-full;
}

.btn_active:hover, .btn_active:active, .btn_active:focus {
    @apply bg-blue-500 text-white;
}

.btn_disabled {
    @apply opacity-50 bg-gray-400 cursor-default;
}

.btn_choosen {
    @apply font-extrabold opacity-100;
}

.btn-user-rock:after {
    @apply ml-2;
    content: "🤜";
}

.btn-user-paper:after {
    @apply ml-2;
    content: "✋";
}

.btn-user-scissors:after {
    @apply ml-2;
    content: "✌️";
}

.btn-opponent-rock:before {
    @apply mr-2;
    content: "🤛";
}

.btn-opponent-paper:before {
    @apply mr-2;
    content: "🤚";
}

.btn-opponent-scissors:before {
    @apply mr-2;
    content: "✌️";
}

.user-result {
    @apply my-2 py-2 px-4 inline-block font-extrabold;
}

.btn-new {
    @apply font-bold my-1 py-2 px-4 rounded-full border-2 border-solid;
}

.lobby-link {
    @apply text-blue-900 underline;
}

.lobby-link:hover, .lobby-link:active {
    @apply text-blue-700 underline;
}

.user-result {
    @apply my-2 py-2 px-4 inline-block font-extrabold rounded text-center;
    width: 19rem;
}

.win {
    @apply bg-green-400;
}

.loss {
    @apply bg-red-200;
}

.draw {
    @apply bg-gray-400;
}


